<%= form_for(drawing, html: { class: 'Form' }) do |f| %>
  <%= render 'common/errors', resource: drawing %>

  <%= f.select :format_id, Format.all.map { |format| [format.to_s, format.id] }, include_blank: false, class: 'Input' %>

  <%= f.text_field :title, placeholder: 'Title', class: 'Input' %>

  <div class='UploadButton'>
    <button>Upload image</button>
    <%= f.file_field :image %>
  </div>

  <%= f.submit %>
<% end %>
