<nav class='Navigation'>
  <%= link_to 'Return to Index', drawings_path %>

  <% if logged_in? %>
    <%= link_to 'Edit', edit_drawing_path(@drawing) %>
    <%= link_to 'Delete', @drawing, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</nav>

<div class='Drawing'>
  <div class='Drawing__image'>
    <% @drawing.resized(width: 900, height: 900).tap do |image| %>
      <%= render 'common/image', image: image, title: @drawing %>
    <% end %>
  </div>

  <h1 class='Drawing__title'>
    <%= @drawing %>
  </h1>

  <div class='Drawing__metadata'>
    <%= @drawing.format.dimensions %>
  </div>
</div>
