<!DOCTYPE html>
<html>
  <head>
    <title>Drawings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render_flash %>

    <%= yield %>
  </body>
</html>
